header {
    display: column;
    justify-content: center;
    
}

body {
    display: block;
    min-height: 100vh;
    background-color: #36454F;
    text-align: center;
}

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color:#6F7378;
    
}

input {
    padding: 5px 20px;
    width: 50%;
    line-height: 16px;
    margin: 10px 0;
    
}

footer {
    position: fixed;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ABB0B8;
    width: 100%;
    height: 1vh;
    text-align: center;
    padding-bottom: 2px;
}

.getLost {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.logoBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textBox {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 35px;
    width: 100%;
    background-color: #E6EEF7;
}

.desText {
    color: #f7f7f7;
    font-size: 25px;
    padding-bottom: 10px;
}

.submitButton {
    font-size: 15px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.desImg {
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    display: block;
    padding-bottom: 20px;
}


.pix {
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.geo {
    display: inline-block;
    width: 25%;
    height: auto;
    align-items: center;
    padding-bottom: 32px;
    margin: 0px;
}

.wea {
    display: inline-block;
    width: 28%;
    height: auto;
    padding-bottom: 73px;
    padding-left: 15px;
    margin: 0px;
}

.ope {
    display: inline-block;
    width: 18.2%;
    height: auto;
    margin: 0;
    border-radius: 0%;
    padding-left: 22px;
    padding-bottom: 43px;
}

#resultsBox {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 180px;
    font-size: 20px;
    line-height: 1.4;
}

#days {
    padding-top: 15px;
    color: whitesmoke;
}

#results {
    color: whitesmoke;
}

.poweredBy {
    font-size: 25px;
    padding-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover .pix {
    width: 22%;
}

a:hover .geo {
    width: 27%;
}

a:hover .wea {
    width: 30%;
}

a:hover .ope {
    width: 20%;
}
